@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local("./SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

body {
  font-family: "system";
}

.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  column-gap: 10px;
  max-width: 800px;
  margin: 0 auto;
}

.nav-item {
  flex-basis: 100%;
  padding: 10px;
}

.nav-item:hover {
  cursor: pointer;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
}

.header {
  text-align: center;
}

.interior-photo {
  max-width: 100%;
}

.hours {
  list-style: none;
  margin: 0;
}

.menu-grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.menu-item {
  display: flex;
  flex-direction: column;
  border: 1px dashed black;
  padding: 10px;
}

.menu-item-name {
  font-weight: bold;
}

.menu-item-description {
  font-style: italic;
  font-size: 0.8rem;
}

.menu-item-price::before {
  content: "$";
}

.menu-item-price {
  text-align: right;
  margin-top: auto;
}

@media all and (max-width: 500px) {
  body {
    margin: 0;
  }

  .nav-bar {
    flex-direction: column;
  }

  .nav-item {
    border: none;
    border-bottom: 1px solid black;
  }

  #content {
    padding: 10px;
  }
}
