@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local("./SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

body {
  font-family: "system";
}

.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  column-gap: 10px;
}

.nav-item {
  flex-basis: 100%;
  padding: 10px;
}

.nav-item:hover {
  cursor: pointer;
}

#content {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
  align-items: center;
}

.header {
  text-align: center;
}

.interior-photo {
  max-width: 100%;
}

.hours {
  list-style: none;
  margin: 0;
}

@media all and (max-width: 400px) {
  body {
    margin: 0;
  }

  .nav-bar {
    flex-direction: column;
  }

  .nav-item {
    border: none;
    border-bottom: 1px solid black;
  }

  #content {
    padding: 10px;
  }
}
